<h1>Create Mata Kuliah</h1>

<form action="/mata-kuliah/create" method="POST">
    <div class="mb-3">
        <label for="kode" class="form-label">Kode Mata Kuliah</label>
        <input type="text" class="form-control" id="kode" name="kode">
    </div>
    <div class="mb-3">
        <label for="nama" class="form-label">Nama Mata Kuliah</label>
        <input type="text" class="form-control" id="nama" name="nama">
    </div>
    <div class="mb-3">
        <label for="sks" class="form-label">SKS</label>
        <input type="number" class="form-control" id="sks" name="sks">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>