<h1>Create Mahasiswa</h1>

<form action="/mahasiswa/create" method="POST">
    <div class="mb-3">
        <label for="nim" class="form-label">NIM</label>
        <input type="text" class="form-control" id="nim" name="nim">
    </div>
    <div class="mb-3">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" id="nama" name="nama">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
        <label for="program_studi" class="form-label">Program Studi</label>
        <select class="form-control" id="program_studi" name="program_studi">
            <option value="">Pilih Program Studi</option>
            <option value="ti">Teknik Informatika (TI)</option>
            <option value="it">Teknologi Informasi (IT)</option>
            <option value="si">Sistem Informasi (SI)</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="angkatan" class="form-label">Angkatan</label>
        <input type="number" class="form-control" id="angkatan" name="angkatan">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>