<h1>Edit Admin</h1>

<form action="/admin/edit/{{admin.id}}" method="POST">
    <div class="mb-3">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" id="nama" name="nama" value="{{admin.nama}}" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{admin.email}}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>